/************************************************************* 
NAVBAR
*************************************************************/

.navbar-toggler {
    border: none; 
}

.navbar-toggler-icon {
    width: 60px; 
    height: 60px;
}

.nav-image {
    width: 200px;
}

#links-button {
    width: 100%;
}


/************************************************************* 
INDEX
*************************************************************/

.container {
    max-width: 800px;
}


/************************************************************* 
LIVING ROOM
*************************************************************/

#livingRoom-body {
    background-image: url("/images/background-min.png");
    background-position: center;

    background-color: rgb(112, 174, 199); 
}

#livingRoom-div {
    width: 100%;
    height: 100%;
}


/************************************************************* 
GALLERY
*************************************************************/

#imageGallery {
    border: 1px rgba(255, 0, 0, 0) solid; 
    
    background-image: url("/images/frame-min.png");

    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 

    width: 90%;
}

#image-container {
    position: relative;

    margin: 30px 9px; 
    width: 90%; 

    z-index: -1; ;
}

.photo {
    margin: 0 auto; 
}

/************************************************************* 
ADPOD
*************************************************************/

#space-nav {
    width: 100%;
    position: fixed; 
    z-index: 1;
}

.apod {
    height: 100%;
    width: 100%;  
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    background-size: cover;
    z-index: -2;
}

/* desert background */
#apodBG {
    width: 100%; 
    position: fixed; 
    left: 0; 
    bottom: 0;  
    z-index: -1;
}

#arnold-div,
#dusty-div {
    width: 150px; 
    margin: 0;
    position: fixed; 
}

#dusty-div {

    /* Dusty starting position */
    top: 100px;  
    left: 50px;

    /* dusty spin */
    animation-name: dustySpin;
    animation-duration: 30000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes dustySpin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#arnold-div {
    /* Arnold starting position */
    /* position: fixed; */
    bottom: 20px;  
    right: -150px;

    animation-name: arnoldSpin;
    animation-duration: 100000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes arnoldSpin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

.spaceDog-img {
    width: 100%; 
}

/************************************************************* 
PSOP
*************************************************************/

#psop-body {
    background-image: linear-gradient(dodgerblue, lightskyblue);
}

#airplane-container {

    border: 1px solid yellow; 
    position: relative;

    top: 200px;
    left:20px;
}

#airplane {
    width: 900px;
    border: 1px solid red;  
}

.passenger-container {

    display: flex;

    border: 1px solid green;     
    width: 185px;
    height: 40px;
    position: absolute; 
    top: 155;
    left: 130;

}

.passengers {
    height: 100%;

    justify-content: space-between; 
    
    margin: 0 5px; 
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}